<configuration>
  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <lokiApiUrl>http://loki:3100/loki/api/v1/push</lokiApiUrl>
    <batchSize>10</batchSize>
    <label>
      <pair name="app" value="memory-cards-bot"/>
      <pair name="env" value="production"/>
    </label>
  </appender>

  <root level="info">
    <appender-ref ref="LOKI"/>
  </root>
</configuration>